body {
    font-family: Roboto;
}

core-toolbar {
    z-index: 50;
    background-color: #64ACDD;
    color: white;
}

core-header-panel {
    background-color: #eee;
}

.myName {
    font-size: 35px;
}

.mainFab {
    z-index:100;
    background-color: #ff5c9d;
    top: 25px;
}

myfab-menu.inactive {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .3s, opacity .3s linear;
}

myfab-menu.active {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s linear;
}

sub-title.scrolled {
    visibility: hidden;
}

.card-container {
    flex-wrap: wrap;
}
