body {
    font-family: Roboto;
}

core-toolbar {
    z-index: 50;
    background-color: #64ACDD;
    color: white;
    height: 120px;
}

.myName {
    font-size: 35px;
}

.mainFab {
    z-index:100;
    background-color: #ff5c9d;
    top: 25px;
    right: 25px;
}

myfab-menu.inactive {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .3s, opacity .3s linear;
}

myfab-menu.active {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s linear;
}
