body {
    font-family: Roboto;
}

core-toolbar {
    background-color: #03b7d3;
    color: white;
    height: 120px;
}

.mainFab {
    z-index:100;
    background-color: #ff5c9d;
    position: absolute;
    top: 70px;
    right: 16px;
}
